@charset "UTF-8";
@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'MICEMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEMyungjo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HS-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#detailMainSection {
	margin: 4rem auto 0 auto;
	padding-bottom: 1rem;
	background-color: #CCFFEE;
	border-radius: 15px;
}

#detailTopFrame{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 2rem 0 0 0;
}

#meetingBoardDetailThumnailFrame{
	width: 50%;
}

#meetingBoardDetailThumnail{
	width: 100%;
	height: 50vh;
	object-fit: contain;
}

#detailInfoFrame {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 50vh;
	padding: 0.5rem;
}

.detailInfoSingleFrame {
	margin-top: 0.5rem;
}

.detailInfoSingleFrame > span {
	font-family: 'MICEMyungjo';
	font-size: 1.1rem;
	margin-left: 0.5rem;
}

#detailFindLocation{
	cursor: pointer;
}

#detailCenterFrame {
	width: 100%;
	margin: 1rem 0 1rem 0;
	background-color: #EEF9FF;
	border-radius: 15px;
}

#detailTitleFrame {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #B8DFE6;
	border-radius: 15px;
}

#detailTitleUserFrame {
	display: flex;
	align-items: center;
}

#detailTitleUserFrame > span {
	font-family: 'HS-Regular';
	font-size: 1.8rem;
	margin-left: 0.5rem;
}

#detailTitle {
	font-family: 'MICEGothic Bold';
	font-size: 2rem;
	padding: 0.5rem 0.5rem 1rem 0.5rem;
}

#detailContentsFrame {
	margin: 1rem 0 1rem 0;
	padding: 1rem;
}

#detailContents {
	font-family: 'MICEMyungjo';
	font-size: 1.3rem;
}

#likeBtn {
	width:3rem;
	height:3rem;
	float: right;
	cursor: pointer;
	margin-right: 2.5rem;
	margin-top: 1rem;
}

#joinBtn {
	width:4rem;
	height:4rem;
	float: left;
	cursor: pointer;
	margin-left: 2.5rem;
	margin-top: 1rem;
}