@charset "UTF-8";
@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'MICEMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEMyungjo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#mainLogoFrame {
	margin: 0 0 0 0;
}

#mainLogo{
    width: 100px;
    height: 50px;
    cursor: pointer;
    visibility: hidden;
}

#logoText {
	font-size: large;
	font-weight: bold;
}

.header {
	width: 100%;
	position: fixed;
}

#navbarNavAltMarkupMeeting > div {
	display: flex;
	justify-content: space-between;
}

#navMeeting {
	margin: 0 0 0 20px;
}
#navPersonal {
	margin: 0 20px 0 20px;
}
#navbarNavAltMarkupMeeting a {
	font-size: large;
	font-weight: bold;
	font-family: 'MICEGothic Bold';
}
#navbarNavAltMarkupMeeting .active {
	color: #00DF75;
}