@charset "UTF-8";
@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'MICEMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEMyungjo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HS-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#detailMainSection {
	margin: 4rem auto 0 auto;
	background-color: aqua;
}

.commentListItem {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.commentItemInfoWriterFrame {
	margin: 0.5rem;
}

.commentWriterImage {
	width:3rem;
	height:3rem;
}

.commentWriterNickname{
	display: inline-block;
	font-family: 'HS-Regular';
	font-size: 1.5rem;
}

.commentItemContents {
	margin: 0.5rem;
	font-family: 'MICEMyungjo';
	font-size: 1.3rem;
}

.commentItemDate {
	font-family: 'MICEGothic Bold';
	font-size: 1.3rem;
}








