.categoryBody {
    position: relative;
    /* overflow: hidden; */
    padding-top: 190px;
    line-height: 170%;
    font-family: 'Noto Sans KR', sans-serif;
}

.cate-top {
    padding-bottom: 80px;
}

.cate-container {
    max-width: 960px;
}

.cate-row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
}

.sidebar-cate {
    margin-bottom: 35px;
}

.sidebar-cate-title {
    color: #7fad39;
    font-weight: 700;
    margin-bottom: 25px;
}

.sidebar-cate .sidebar-cate-ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

.sidebar-cate .sidebar-cate-li {
    list-style: none;
}

.sidebar-cate .sidebar-cate-a {
    text-decoration: none;
}

