<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.goodee.market.item.ItemDAO">


		<select id="getDetail" parameterType="ItemDTO" resultMap="getDetailResult">
			 SELECT I.*,IM.*
 			 FROM ITEM I
			 LEFT JOIN
			 ITEMIMAGE IM
			 ON I.ITEMNUM= IM.ITEMNUM
			 WHERE I.ITEMNUM= #{itemNum};
		</select>
		<resultMap type="ItemDTO" id="getDetailResult">
		<id column="itemnum" property="itemNum"/>
				<result column="membernum" property="memberNum"/>
				<result column="itemtitle" property="itemTitle"/>
				<result column="itemcontents" property="itemContents"/>
				<result column="itemcategory" property="itemCategory"/>
				<result column="itemprice" property="itemPrice"/>
				<result column="itemduedate" property="itemDueDate"/>
				<result column="itemstatus" property="itemStatus"/>
				
		</resultMap>
		
		<insert id="setAdd" parameterType="ItemDTO">
		<selectKey order="BEFORE" keyProperty="itemNum" resultType="Long">
			  SELECT ITEM_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO ITEM
  		VALUES (ITEM_SEQ.NEXTVAL,#{memberNum}, #{itemTitle},#{itemContents},#{itemCategory},#{itemPrice},#{itemDueDate},#{itemStatus})
		</insert>
	
		<update id="setUpdate" parameterType="ItemDTO">
		  UPDATE ITEM SET ITEMTITLE = #{itemTitle},ITEMCONTENTS=#{itemContents},ITEMCATEGORY=#{itemCategory},ITEMPRICE=#{itemPrice} WHERE ITEMNUM=#{itemNum}
		</update>
		
		<delete id="setDelete" parameterType="ItemDTO">
		DELETE ITEM WHERE ITEMNUM=#{itemNum}
		</delete>
	</mapper>