<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<mapper namespace="com.goodee.market.meetingboard.MeetingBoardDAO">

	<select id="getMeetingBoardList" resultMap="getMeetingBoardListResult">
		SELECT M.nickname, MB.*, MBI.filename 
		FROM MEMBER M
		INNER JOIN MEETINGBOARD MB
		ON(M.membernum = MB.meetingboardwriter)
		LEFT JOIN MEETINGBOARDIMAGE MBI
		ON(MB.meetingboardnum = MBI.meetingboardnum)
		ORDER BY MB.meetingboardnum DESC
	</select>
	
	<resultMap type="MeetingBoardDTO" id="getMeetingBoardListResult">
		<id column="MEETINGBOARDNUM" property="meetingBoardNum"/>
		<result column="MEETINGBOARDWRITER" property="meetingBoardWriter"/>
		<result column="MEETINGBOARDTITLE" property="meetingBoardTitle"/>
		<result column="MEETINGBOARDDUEDATE" property="meetingBoardDueDate"/>
		<result column="MEETINGBOARDTOTALCOST" property="meetingBoardTotalCost"/>
		<result column="MEETINGBOARDLOCATION" property="meetingBoardLocation"/>
		<result column="MEETINGBOARDCURRENTMEMBER" property="meetingBoardCurrentMember"/>
		<result column="MEETINGBOARDMAXMEMBER" property="meetingBoardMaxMember"/>
		<result column="MEETINGBOARDCATEGORY" property="meetingBoardCategory"/>
		
		<association property="memberDTO" javaType="MemberDTO">
			<result column="NICKNAME" property="nickname"/>
		</association>
		
		<association property="meetingBoardImageDTO" javaType="MeetingBoardImageDTO">
			<result column="FILENAME" property="fileName"/>
		</association>
		
	</resultMap>
	
	<insert id="setMeetingBoardAdd" parameterType="MeetingBoardDTO">
		<selectKey order="BEFORE" keyProperty="meetingBoardNum" resultType="Long">
			SELECT MEETINGBOARD_SEQ.NEXTVAL FROM dual
		</selectKey>
		INSERT INTO meetingboard(meetingboardnum, meetingboardwriter, meetingboardtitle, meetingboardcontents, meetingboardduedate, meetingboardtotalcost, 
		meetingboardlocation, meetingboardmaxmember, meetingboardcategory, meetingboardhostdemand)
		VALUES (#{meetingBoardNum}, #{meetingBoardWriter}, #{meetingBoardTitle}, #{meetingBoardContents}, #{meetingBoardDueDate}, #{meetingBoardTotalCost}, 
		#{meetingBoardLocation}, #{meetingBoardMaxMember}, #{meetingBoardCategory}, #{meetingBoardHostDemand})
	</insert>
	
	<insert id="setMeetingBoardThumnailAdd" parameterType="MeetingBoardImageDTO">
		INSERT INTO meetingboardimage(meetingboardnum, filename, oriname) VALUES (#{meetingBoardNum}, #{fileName}, #{oriName})
	</insert>

</mapper>