<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodee.market.meetingboard.member.MeetingBoardMemberDAO">

	<insert id="setAddMeetingBoardMember" parameterType="MeetingBoardMemberDTO">
		INSERT INTO MEETINGBOARD_MEMBER(HOSTMEMBERNUM, MEETINGBOARDNUM, REQUESTMEMBERNUM, APPROVALCONTENTS)
		VALUES(#{hostMemberNum}, #{meetingBoardNum}, #{requestMemberNum}, #{approvalContents})
	</insert>
	
	<insert id="setAddOwnerMeetingBoardMember" parameterType="MeetingBoardMemberDTO">
		INSERT INTO MEETINGBOARD_MEMBER(HOSTMEMBERNUM, MEETINGBOARDNUM, REQUESTMEMBERNUM, APPROVALSTATUS)
		VALUES(#{hostMemberNum}, #{meetingBoardNum}, #{requestMemberNum}, 1)
	</insert>
	
	<select id="getJoinExist" parameterType="MeetingBoardMemberDTO" resultType="Long">
		SELECT COUNT(MBMNUM) FROM meetingboard_member WHERE meetingboardnum = #{meetingBoardNum} AND requestmembernum = #{requestMemberNum}
	</select>
	
	<delete id="setDeleteMeetingBoardMember" parameterType="MeetingBoardMemberDTO">
		DELETE FROM meetingboard_member WHERE HOSTMEMBERNUM = #{hostMemberNum} AND meetingboardnum = #{meetingBoardNum} AND requestmembernum = #{requestMemberNum}
	</delete>

</mapper>