<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<mapper namespace="com.goodee.market.trade.myPage.myPageDAO">

	<!-- MEMBER NUM으로 ID OR NICKNAME 불러와야함 -->
	
	
	<!-- 판매리스트 -->
	<select id="getSellItemList" resultType="ItemDTO" parameterType="ItemDTO">	
		SELECT ITEMNUM, ITEMCATEGORY, ITEMTITLE, ITEMPRICE, ITEMSTATUS FROM ITEM
		    WHERE ITEMNUM
		        =(SELECT ITEMNUM FROM SELLITEMLIST WHERE MEMBERNUM = #{membernum})
	</select>
	
	
	<!-- 구매리스트 -->
	<select id="getBuyItemList" resultType="ItemDTO" parameterType="BuyerDTO">
		SELECT ITEMCATEGORY, ITEMTITLE, ITEMPRICE, MEMBERNUM, ITEMSTATUS FROM ITEM
		    WHERE ITEMNUM
		        =(SELECT ITEMNUM FROM BUYITEMLIST WHERE REALBUYER = #{realbuyer})
	</select>
	
	
	<!-- 후기리스트 -->
	<select id="getReviewList" resultType="ReviewDTO" parameterType="BuyerDTO">
		SELECT REVIEWNUM, REVIEWTITLE, MEMBERNUM, ITEMNUM FROM REVIEW
			WHERE REALBUYER = #{realbuyer}
	</select>
	
</mapper>	
