<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" id="d1" value="Test">
    <input type="radio" id="d2">
    <div id="d3"></div>
    <div>
        년도를 입력하세요<br>
        <select id="year"></select><br>
        월을 입력하세요<br>
        <select id="month"></select><br>
        날짜를 입력하세요<br>
        <select id="date"></select><br>
    </div>

    <table id="d4" border="1"></table>

    <script src="/resources/js/dom1.js"></script>
</body>
</html>